<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muyou.mapper.TbDiseaseMapper" >
  <resultMap id="BaseResultMap" type="com.muyou.pojo.TbDisease" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="symbol" property="symbol" jdbcType="VARCHAR" />
    <result column="alias" property="alias" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="contagious" property="contagious" jdbcType="VARCHAR" />
    <result column="rate" property="rate" jdbcType="VARCHAR" />
    <result column="depart" property="depart" jdbcType="VARCHAR" />
    <result column="cost" property="cost" jdbcType="VARCHAR" />
    <result column="way" property="way" jdbcType="VARCHAR" />
    <result column="drug" property="drug" jdbcType="VARCHAR" />
    <result column="part" property="part" jdbcType="VARCHAR" />
    <result column="insurance" property="insurance" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="complication" property="complication" jdbcType="VARCHAR" />
    <result column="population" property="population" jdbcType="VARCHAR" />
    <result column="symptoms" property="symptoms" jdbcType="VARCHAR" />
    <result column="prevention" property="prevention" jdbcType="VARCHAR" />
    <result column="dcase" property="dcase" jdbcType="VARCHAR" />
    <result column="dcheck" property="dcheck" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, symbol, alias, introduce, contagious, rate, depart, cost, way, drug, part, 
    insurance, time, complication, population, symptoms, prevention, dcase, dcheck, url, 
    status, created, updated
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.muyou.pojo.TbDiseaseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_disease
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_disease
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_disease
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.muyou.pojo.TbDiseaseExample" >
    delete from tb_disease
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.muyou.pojo.TbDisease" useGeneratedKeys="true" keyProperty="id">
    insert into tb_disease (id, name, symbol, 
      alias, introduce, contagious, 
      rate, depart, cost, 
      way, drug, part, insurance, 
      time, complication, population, 
      symptoms, prevention, dcase, 
      dcheck, url, status, created, 
      updated)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{symbol,jdbcType=VARCHAR}, 
      #{alias,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}, #{contagious,jdbcType=VARCHAR}, 
      #{rate,jdbcType=VARCHAR}, #{depart,jdbcType=VARCHAR}, #{cost,jdbcType=VARCHAR}, 
      #{way,jdbcType=VARCHAR}, #{drug,jdbcType=VARCHAR}, #{part,jdbcType=VARCHAR}, #{insurance,jdbcType=VARCHAR}, 
      #{time,jdbcType=VARCHAR}, #{complication,jdbcType=VARCHAR}, #{population,jdbcType=VARCHAR}, 
      #{symptoms,jdbcType=VARCHAR}, #{prevention,jdbcType=VARCHAR}, #{dcase,jdbcType=VARCHAR}, 
      #{dcheck,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, #{created,jdbcType=TIMESTAMP}, 
      #{updated,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.muyou.pojo.TbDisease" >
    insert into tb_disease
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="symbol != null" >
        symbol,
      </if>
      <if test="alias != null" >
        alias,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="contagious != null" >
        contagious,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="depart != null" >
        depart,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="way != null" >
        way,
      </if>
      <if test="drug != null" >
        drug,
      </if>
      <if test="part != null" >
        part,
      </if>
      <if test="insurance != null" >
        insurance,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="complication != null" >
        complication,
      </if>
      <if test="population != null" >
        population,
      </if>
      <if test="symptoms != null" >
        symptoms,
      </if>
      <if test="prevention != null" >
        prevention,
      </if>
      <if test="dcase != null" >
        dcase,
      </if>
      <if test="dcheck != null" >
        dcheck,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="updated != null" >
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="symbol != null" >
        #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="alias != null" >
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="contagious != null" >
        #{contagious,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=VARCHAR},
      </if>
      <if test="depart != null" >
        #{depart,jdbcType=VARCHAR},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=VARCHAR},
      </if>
      <if test="way != null" >
        #{way,jdbcType=VARCHAR},
      </if>
      <if test="drug != null" >
        #{drug,jdbcType=VARCHAR},
      </if>
      <if test="part != null" >
        #{part,jdbcType=VARCHAR},
      </if>
      <if test="insurance != null" >
        #{insurance,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="complication != null" >
        #{complication,jdbcType=VARCHAR},
      </if>
      <if test="population != null" >
        #{population,jdbcType=VARCHAR},
      </if>
      <if test="symptoms != null" >
        #{symptoms,jdbcType=VARCHAR},
      </if>
      <if test="prevention != null" >
        #{prevention,jdbcType=VARCHAR},
      </if>
      <if test="dcase != null" >
        #{dcase,jdbcType=VARCHAR},
      </if>
      <if test="dcheck != null" >
        #{dcheck,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.muyou.pojo.TbDiseaseExample" resultType="java.lang.Integer" >
    select count(*) from tb_disease
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_disease
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.symbol != null" >
        symbol = #{record.symbol,jdbcType=VARCHAR},
      </if>
      <if test="record.alias != null" >
        alias = #{record.alias,jdbcType=VARCHAR},
      </if>
      <if test="record.introduce != null" >
        introduce = #{record.introduce,jdbcType=VARCHAR},
      </if>
      <if test="record.contagious != null" >
        contagious = #{record.contagious,jdbcType=VARCHAR},
      </if>
      <if test="record.rate != null" >
        rate = #{record.rate,jdbcType=VARCHAR},
      </if>
      <if test="record.depart != null" >
        depart = #{record.depart,jdbcType=VARCHAR},
      </if>
      <if test="record.cost != null" >
        cost = #{record.cost,jdbcType=VARCHAR},
      </if>
      <if test="record.way != null" >
        way = #{record.way,jdbcType=VARCHAR},
      </if>
      <if test="record.drug != null" >
        drug = #{record.drug,jdbcType=VARCHAR},
      </if>
      <if test="record.part != null" >
        part = #{record.part,jdbcType=VARCHAR},
      </if>
      <if test="record.insurance != null" >
        insurance = #{record.insurance,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.complication != null" >
        complication = #{record.complication,jdbcType=VARCHAR},
      </if>
      <if test="record.population != null" >
        population = #{record.population,jdbcType=VARCHAR},
      </if>
      <if test="record.symptoms != null" >
        symptoms = #{record.symptoms,jdbcType=VARCHAR},
      </if>
      <if test="record.prevention != null" >
        prevention = #{record.prevention,jdbcType=VARCHAR},
      </if>
      <if test="record.dcase != null" >
        dcase = #{record.dcase,jdbcType=VARCHAR},
      </if>
      <if test="record.dcheck != null" >
        dcheck = #{record.dcheck,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updated != null" >
        updated = #{record.updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_disease
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      symbol = #{record.symbol,jdbcType=VARCHAR},
      alias = #{record.alias,jdbcType=VARCHAR},
      introduce = #{record.introduce,jdbcType=VARCHAR},
      contagious = #{record.contagious,jdbcType=VARCHAR},
      rate = #{record.rate,jdbcType=VARCHAR},
      depart = #{record.depart,jdbcType=VARCHAR},
      cost = #{record.cost,jdbcType=VARCHAR},
      way = #{record.way,jdbcType=VARCHAR},
      drug = #{record.drug,jdbcType=VARCHAR},
      part = #{record.part,jdbcType=VARCHAR},
      insurance = #{record.insurance,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=VARCHAR},
      complication = #{record.complication,jdbcType=VARCHAR},
      population = #{record.population,jdbcType=VARCHAR},
      symptoms = #{record.symptoms,jdbcType=VARCHAR},
      prevention = #{record.prevention,jdbcType=VARCHAR},
      dcase = #{record.dcase,jdbcType=VARCHAR},
      dcheck = #{record.dcheck,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=BIT},
      created = #{record.created,jdbcType=TIMESTAMP},
      updated = #{record.updated,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.muyou.pojo.TbDisease" >
    update tb_disease
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="symbol != null" >
        symbol = #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="alias != null" >
        alias = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="contagious != null" >
        contagious = #{contagious,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        rate = #{rate,jdbcType=VARCHAR},
      </if>
      <if test="depart != null" >
        depart = #{depart,jdbcType=VARCHAR},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=VARCHAR},
      </if>
      <if test="way != null" >
        way = #{way,jdbcType=VARCHAR},
      </if>
      <if test="drug != null" >
        drug = #{drug,jdbcType=VARCHAR},
      </if>
      <if test="part != null" >
        part = #{part,jdbcType=VARCHAR},
      </if>
      <if test="insurance != null" >
        insurance = #{insurance,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="complication != null" >
        complication = #{complication,jdbcType=VARCHAR},
      </if>
      <if test="population != null" >
        population = #{population,jdbcType=VARCHAR},
      </if>
      <if test="symptoms != null" >
        symptoms = #{symptoms,jdbcType=VARCHAR},
      </if>
      <if test="prevention != null" >
        prevention = #{prevention,jdbcType=VARCHAR},
      </if>
      <if test="dcase != null" >
        dcase = #{dcase,jdbcType=VARCHAR},
      </if>
      <if test="dcheck != null" >
        dcheck = #{dcheck,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.muyou.pojo.TbDisease" >
    update tb_disease
    set name = #{name,jdbcType=VARCHAR},
      symbol = #{symbol,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      contagious = #{contagious,jdbcType=VARCHAR},
      rate = #{rate,jdbcType=VARCHAR},
      depart = #{depart,jdbcType=VARCHAR},
      cost = #{cost,jdbcType=VARCHAR},
      way = #{way,jdbcType=VARCHAR},
      drug = #{drug,jdbcType=VARCHAR},
      part = #{part,jdbcType=VARCHAR},
      insurance = #{insurance,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      complication = #{complication,jdbcType=VARCHAR},
      population = #{population,jdbcType=VARCHAR},
      symptoms = #{symptoms,jdbcType=VARCHAR},
      prevention = #{prevention,jdbcType=VARCHAR},
      dcase = #{dcase,jdbcType=VARCHAR},
      dcheck = #{dcheck,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
	<!--   前台 -->
  <select id="selectItemByClassify" resultMap="BaseResultMap">
    SELECT 
    	DISTINCT(d.id),url,d.name,d.introduce
    FROM 
    	(tb_disease d RIGHT JOIN tb_item_rela_cate r on d.id = r.item_id ) RIGHT JOIN tb_cate c on r.cate_id = c.id
    WHERE 
      c.id = #{cid}
    AND
    	d.status = 1
    ORDER BY
	  d.id desc
	LIMIT 
		#{page},#{row}
  </select>
  
	<!--   后台 -->
  <select id="selectItemByCondition" resultMap="BaseResultMap">
    SELECT 
    	DISTINCT(d.id),url,d.name,complication,symptoms,rate,time,d.status,d.created
    FROM 
    <if test="cid == -1">
    	tb_disease d 
  	</if>
    <if test="cid != -1">
    	(tb_disease d RIGHT JOIN tb_item_rela_cate r on d.id = r.item_id ) RIGHT JOIN tb_cate c on r.cate_id = c.id
  	</if>
    WHERE (
	   	d.id LIKE #{search}
	   	OR	d.name LIKE #{search} 		 
	   	OR	d.symbol LIKE #{search} 		 
	    OR  part LIKE #{search}
	    OR  depart LIKE #{search}
	    OR  complication LIKE #{search}
	    OR  symptoms LIKE #{search}
	    OR  rate LIKE #{search}
	    OR  time LIKE #{search})
    <if test="cid != -1">
      AND c.id = #{cid}
    </if>
    ORDER BY
    ${orderCol}
    ${orderDir}
  </select>
  
  <select id="selectItemByMultiCondition" resultMap="BaseResultMap">
    SELECT 
    	DISTINCT(d.id),url,d.name,complication,symptoms,rate,time,d.status,d.created
    FROM
	<if test="cid == -1">
    	tb_disease d 
  	</if>
    <if test="cid != -1">
    	(tb_disease d RIGHT JOIN tb_item_rela_cate r on d.id = r.item_id ) RIGHT JOIN tb_cate c on r.cate_id = c.id
  	</if>
   	WHERE (
	   	d.id LIKE #{search}
	   	OR	d.name LIKE #{search} 		 
	   	OR	d.symbol LIKE #{search} 		 
	    OR  part LIKE #{search}
	    OR  depart LIKE #{search}
	    OR  complication LIKE #{search}
	    OR  symptoms LIKE #{search}
	    OR  rate LIKE #{search}
	    OR  time LIKE #{search})
    <if test="cid != -1">
      AND c.id = #{cid}
    </if>
    <if test="minDate != null and minDate != '' and maxDate != null and maxDate != ''">
      AND d.created BETWEEN #{minDate} AND #{maxDate}
    </if>
    ORDER BY
    ${orderCol}
    ${orderDir}
  </select>
  
  
</mapper>