<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muyou.mapper.TbMessageListMapper">
	<resultMap id="BaseResultMap"
		type="com.muyou.pojo.TbMessageList">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="room_id" property="roomId" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="unread" property="unread" jdbcType="INTEGER" />
		<result column="another_name" property="anotherName"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, room_id, user_id, status, unread, another_name
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.muyou.pojo.TbMessageListExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from tb_message_list
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tb_message_list
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from tb_message_list
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.muyou.pojo.TbMessageListExample">
		delete from tb_message_list
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>


	<!-- ********************************************************** -->
	<!-- 消息列表 -->
	<insert id="addMessageList" parameterType="String">
		insert into
		tb_message_list(room_id, user_id, status,unread,another_name)
		values(#{roomid}, #{userId},'SHOW',1,#{nickname})
	</insert>

	<select id="getDoctorRoom" parameterType="String"
		resultMap="BaseResultMap">
		select
		id,room_id,another_name
		from
		tb_message_list 
		where
		user_id=#{user_id}
		and
		status = 'DOCTOR'
	</select>

	<insert id="addDoctorMessageList" parameterType="String">
		insert into
		tb_message_list(room_id, user_id, status,unread,another_name)
		values(#{roomid}, #{userId},'DOCTOR',0,#{nickname})
	</insert>

	<!-- 所有消息根据两个用户ID -->
	<select id="searchRoomId" resultMap="BaseResultMap"
		parameterType="String">
		SELECT
		l1.id as id,
		l1.room_id as room_id
		from
		tb_message_list l1,tb_message_list l2
		where
		l1.user_id = #{user_id1}
		and
		l2.user_id = #{user_id2}
		and
		l1.room_id=l2.room_id
	</select>

	<!-- 删除房间号 -->
	<update id="deleteRoomId" parameterType="String">
		update tb_message_list
		set status = 'DELETE' where room_id=#{room_id}
	</update>


	<!-- 查看消息 -->
	<update id="lookmessage" parameterType="String">
		update tb_message_list set unread=0 where room_id=#{roomid} and user_id=#{user_id}
	</update>
	
	<!-- 未读 -->
	<update id="addUnread" parameterType="String">
		update tb_message_list set unread=unread+1 where room_id=#{roomid} and user_id!=#{user_id}
	</update>
	
	
	<!-- ********************************************************** -->



	<insert id="insert" parameterType="com.muyou.pojo.TbMessageList">
		insert into tb_message_list (id, room_id, user_id,
		status, unread, another_name
		)
		values (#{id,jdbcType=INTEGER}, #{roomId,jdbcType=VARCHAR},
		#{userId,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR}, #{unread,jdbcType=INTEGER}, #{anotherName,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.muyou.pojo.TbMessageList">
		insert into tb_message_list
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="roomId != null">
				room_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="unread != null">
				unread,
			</if>
			<if test="anotherName != null">
				another_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="roomId != null">
				#{roomId,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="unread != null">
				#{unread,jdbcType=INTEGER},
			</if>
			<if test="anotherName != null">
				#{anotherName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.muyou.pojo.TbMessageListExample"
		resultType="java.lang.Integer">
		select count(*) from tb_message_list
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update tb_message_list
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.roomId != null">
				room_id = #{record.roomId,jdbcType=VARCHAR},
			</if>
			<if test="record.userId != null">
				user_id = #{record.userId,jdbcType=VARCHAR},
			</if>
			<if test="record.status != null">
				status = #{record.status,jdbcType=VARCHAR},
			</if>
			<if test="record.unread != null">
				unread = #{record.unread,jdbcType=INTEGER},
			</if>
			<if test="record.anotherName != null">
				another_name = #{record.anotherName,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update tb_message_list
		set id = #{record.id,jdbcType=INTEGER},
		room_id = #{record.roomId,jdbcType=VARCHAR},
		user_id = #{record.userId,jdbcType=VARCHAR},
		status = #{record.status,jdbcType=VARCHAR},
		unread = #{record.unread,jdbcType=INTEGER},
		another_name = #{record.anotherName,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.muyou.pojo.TbMessageList">
		update tb_message_list
		<set>
			<if test="roomId != null">
				room_id = #{roomId,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="unread != null">
				unread = #{unread,jdbcType=INTEGER},
			</if>
			<if test="anotherName != null">
				another_name = #{anotherName,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.muyou.pojo.TbMessageList">
		update tb_message_list
		set room_id = #{roomId,jdbcType=VARCHAR},
		user_id = #{userId,jdbcType=VARCHAR},
		status = #{status,jdbcType=VARCHAR},
		unread = #{unread,jdbcType=INTEGER},
		another_name = #{anotherName,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>