<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muyou.search.mapper.ItemMapper">
	<select id="getMedicineItemList" resultType="com.muyou.pojo.TbMedicine">
		SELECT
			c.name cName,
			m.id id,
			m.price price,
			m.goods_name goodsName,
			m.instruction instruction,
			m.otc otc,
			m.logo logo,
			m.approval_number approvalNumber,
			m.manufacturer manufacturer,
			m.indications indications
		FROM
			tb_medicine m	RIGHT JOIN tb_item_rela_cate r on m.id = r.item_id RIGHT JOIN tb_cate c on r.cate_id = c.id
		where 
			m.id = #{id} 
		and 
			m.status = 1
	</select> 
	
	<select id="getMedicineItemById" parameterType="String" resultType="com.muyou.pojo.TbMedicine">
		SELECT
			c.name cName,
			m.id id,
			m.price price,
			m.goods_name goodsName,
			m.instruction instruction,
			m.otc otc,
			m.logo logo,
			m.approval_number approvalNumber,
			m.manufacturer manufacturer,
			m.indications indications
		FROM
			tb_medicine m	RIGHT JOIN tb_item_rela_cate r on m.id = r.item_id RIGHT JOIN tb_cate c on r.cate_id = c.id
		where 
			m.id = #{id} 
	</select>
	
	<select id="getDiseaseItemList" resultType="com.muyou.pojo.TbDisease">
		SELECT
			d.id id,
			d.name name,
			d.introduce ntroduce,
			d.url url,
			d.part part,
			d.depart depart
		FROM
			tb_disease d	
		where 
			d.status = 1
	</select>
	
	<select id="getDiseaseItemById" parameterType="String" resultType="com.muyou.pojo.TbDisease">
		SELECT
			d.id id,
			d.name name,
			d.introduce ntroduce,
			d.url url,
			d.part part,
			d.depart depart
		FROM
			tb_disease d	
	</select> 
	
	<select id="getDocumentsNum" parameterType="String" resultType="Integer">
		SELECT
			d.num
		FROM
			tb_data d
		where 
			d.type = #{type}
		order by
			d.create_time desc
		LIMIT 0,1
	</select>
	
	
</mapper>