<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muyou.search.mapper.ItemMapper">
	<select id="getMedicineItemList" resultType="com.muyou.pojo.TbMedicine">
		SELECT
			m.goods_id goodsId,
			m.price price,
			m.goods_name goodsName,
			m.explain_book explainBook,
			m.is_otc isOtc,
			m.logo logo,
			m.approval_number approvalNumber,
			m.manufacturer manufacturer,
			m.zhuzhi zhuzhi,
			m.c2 c2
		FROM
			tb_medicine m	
		where 
			m.is_del = 0
	</select> 
	
	<select id="getMedicineItemById" parameterType="String" resultType="com.muyou.pojo.TbMedicine">
		SELECT
			*
		FROM
			tb_medicine m	
		where 
			m.goods_id = #{id}
		and
			m.is_del = 0
	</select>
	
	<select id="getDiseaseItemList" resultType="com.muyou.pojo.TbDisease">
		SELECT
			d.id id,
			d.disease_name diseaseName,
			d.disease_introduce diseaseIntroduce,
			d.disease_url diseaseUrl,
			d.disease_part diseasePart,
			d.cure_depart cureDepart
		FROM
			tb_disease d	
		where 
			d.is_del = 0
	</select>
	
	<select id="getDiseaseItemById" parameterType="String" resultType="com.muyou.pojo.TbDisease">
		SELECT
			*
		FROM
			tb_disease d
		where 
			d.id = #{id}
		and
			d.is_del = 0
	</select> 
	
	<select id="getDocumentsNum" parameterType="String" resultType="Integer">
		SELECT
			d.num
		FROM
			tb_data d
		where 
			d.type = #{type}
		order by
			d.create_time desc
		LIMIT 0,1
	</select>
	
	
</mapper>