<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
         http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        ">

	<!-- 启动对@AspectJ注解的支持 -->
	<aop:aspectj-autoproxy />

	 <!-- 配置自定义Realm -->
    <bean id="myRealm" class="com.muyou.shiro.MyRealm"/>
    
    <!-- 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="myRealm"/>
    </bean>
    
   	<bean id="perms" class="com.muyou.shiro.MyPermissionFilter"/>
    
    <!-- Shiro过滤器 核心-->
    <bean id="shiroFilter" class="com.muyou.shiro.MyShiroFilterFactoryBean">
        <!-- Shiro的核心安全接口,这个属性是必须的 -->
        <property name="securityManager" ref="securityManager"/>
        <!-- 身份认证失败，则跳转到登录页面的配置 -->
        <property name="loginUrl" value="/login"/>
        <!-- 登录成功之后的 跳转页面 -->
        <property name="successUrl" value="/"/>
        <!-- 权限认证失败，则跳转到指定页面 -->
        <property name="unauthorizedUrl" value="/403"/>
        <!--自定义过滤器-->
        <property name="filters">
            <util:map>
                <entry key="perms" value-ref="perms"></entry>
                <entry key="roles" value-ref="perms"></entry>
            </util:map>
        </property>
        <!-- Shiro连接约束配置,即过滤链的定义 -->
        <property name="filterChainDefinitions">
            <value>
                <!--anon 表示不需要认证以及授权-->
                <!--authc 表示需要认证 没有登录是不能进行访问的-->
                <!--perms 表示需要该权限才能访问的页面 /user/* = perms[/*] -->
                <!--roles 表示需要角色才能访问的页面 /* = roles[管理员]-->
                <!--/login = anon
                /401 = anon
                / = authc
                /index = authc
                /welcome = authc
                /lock-screen = authc
                /user/logout = authc
                /user/userInfo = authc-->
            </value>
        </property>
    </bean>
    
    <!-- Shiro生命周期处理器 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
   
	<!-- 加载配置文件 -->
	<context:property-placeholder
		location="classpath:conf/resource.properties"
		ignore-unresolvable="true" />
		
	<context:component-scan base-package="com.muyou" />

	<!-- 注解驱动 -->
	<mvc:annotation-driven />

	<!--SpringMVC视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 异常处理器 -->
	<!-- <bean class="com.muyou.exception.ServiceExceptionResolver" /> -->

	<!-- 定义文件上传解析器 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设定默认编码 -->
		<property name="defaultEncoding" value="UTF-8"></property>
		<!-- 设定文件上传的最大值5MB，5*1024*1024 -->
		<property name="maxUploadSize" value="5242880"></property>
	</bean>

	<!-- 配置资源映射 -->
	<mvc:resources mapping="/lib/**" location="/lib/" />
	<mvc:resources mapping="/static/**" location="/static/" />
	<mvc:resources mapping="/temp/**" location="/temp/" />
	<mvc:resources mapping="/icon/**" location="/icon/" />
	<mvc:resources mapping="/upload/**" location="/upload/" />
	<mvc:resources mapping="/screen/**" location="/screen/" />

	<!-- FreeMarker配置 -->
	<bean id="freemarkerConfig"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/ftl/" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	
	<!-- 引用dubbo服务 -->
	<dubbo:application name="health-manager-web" />
	<dubbo:registry protocol="zookeeper"
		address="192.168.2.120:2181" />
	<dubbo:reference
		interface="com.muyou.service.LoginService" id="loginService" />
	<dubbo:reference
		interface="com.muyou.service.SystemService" id="systemService" />
	<dubbo:reference
		interface="com.muyou.service.AdminService" id="adminService" />
	<dubbo:reference
		interface="com.muyou.service.UserService" id="userService" />
	<dubbo:reference
		interface="com.muyou.service.RedisService" id="redisService" />
	<dubbo:reference interface="com.muyou.search.service.SearchService" 
		id="searchService" />
	<dubbo:reference
		interface="com.muyou.service.DictService" id="dictService" />
	<dubbo:reference
		interface="com.muyou.service.ItemCateService" id="itemCateService" />
	<dubbo:reference
		interface="com.muyou.service.ItemDisService" id="itemDisService" />
	<dubbo:reference
		interface="com.muyou.service.ItemMedService" id="itemMedService" />
	<dubbo:reference
		interface="com.muyou.service.ItemRecService" id="itemRecService" />
	<dubbo:reference
		interface="com.muyou.service.ContentService" id="contentService" />
	<dubbo:reference
		interface="com.muyou.service.PanelService" id="panelService" />
	<dubbo:reference
		interface="com.muyou.service.ArticleService" id="articleService" />
	<dubbo:reference
		interface="com.muyou.service.ItemLibService" id="itemLibService" />
	<dubbo:reference
		interface="com.muyou.service.ItemLecService" id="itemLecService" />
	<dubbo:reference
		interface="com.muyou.service.ItemTimService" id="itemTimService" />
	<dubbo:reference
		interface="com.muyou.service.ItemTeaService" id="itemTeaService" />
	<dubbo:reference
		interface="com.muyou.service.ItemStuService" id="itemStuService" />


</beans>