<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
         http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<context:property-placeholder
		location="classpath:conf/resource.properties" />

	<context:component-scan
		base-package="com.muyou.front.controller" />

	<mvc:annotation-driven />
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 异常解析器 -->
	<bean class="com.muyou.front.exception.ServiceExceptionResolver" />

	<!-- 拦截器 -->
	<!-- <mvc:interceptors> <mvc:interceptor> <mvc:mapping path="/**" /> <mvc:exclude-mapping 
		path="/users/login" /> <mvc:exclude-mapping path="/users/register/*" /> <mvc:exclude-mapping 
		path="/users/register" /> <bean class="com.muyou.front.interceptor.AuthorizationInterceptor"></bean> 
		</mvc:interceptor> </mvc:interceptors> -->

	<!-- <bean id="AuthorizationFilter" class="com.muyou.front.filter.AuthorizationFilter" 
		/> -->


	<!-- 配置资源映射 -->
	<mvc:resources location="/css/" mapping="/web/css/**"></mvc:resources>
	<mvc:resources location="/js/" mapping="/web/js/**"></mvc:resources>

	<!-- 引用dubbo服务 -->
	<dubbo:application name="health-front-web" />
	<dubbo:registry protocol="zookeeper"
		address="192.168.2.120:2181" />
	<dubbo:reference
		interface="com.muyou.front.service.DiseaseService" id="diseaseService" />
	<dubbo:reference
		interface="com.muyou.front.service.FeedBackService"
		id="feedBackService" />
	<dubbo:reference
		interface="com.muyou.front.service.LectureService" id="lectureService" />
	<dubbo:reference
		interface="com.muyou.front.service.LibraryService" id="libraryService" />
	<dubbo:reference
		interface="com.muyou.front.service.RecipesService" id="recipesService" />
	<dubbo:reference
		interface="com.muyou.front.service.TimeTableService"
		id="timeTableService" />
	<dubbo:reference
		interface="com.muyou.sso.service.CollectService" id="collectService" />
	<dubbo:reference
		interface="com.muyou.front.service.MedicineService"
		id="medicineService" />
	<dubbo:reference
		interface="com.muyou.search.service.SearchResultService"
		id="searchResultService" />
	<dubbo:reference
		interface="com.muyou.front.service.ArticleService"
		id="articleService" />

</beans>