<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
         http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<context:property-placeholder
		location="classpath:conf/resource.properties" />

	<context:component-scan
		base-package="com.muyou.sso.controller" />

	<!-- 异常解析器 -->
	<bean class="com.muyou.sso.exception.ServiceExceptionResolver" />

	<!-- 注解驱动 -->
	<mvc:annotation-driven />

	<!-- 资源映射 -->
	<mvc:resources mapping="/lib/**" location="/lib/"/>
	<mvc:resources mapping="/images/**" location="/images/"/>

	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/friends/*" />
			<mvc:mapping path="/users/*" />
			<mvc:mapping path="/messages/*" />
			<mvc:exclude-mapping path="/users/login"/>
			<bean class="com.muyou.sso.interceptor.LoginInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 引用dubbo服务 -->
	<dubbo:application name="health-sso-web" />
	<dubbo:registry protocol="zookeeper"
		address="192.168.2.120:2181" />
	<dubbo:reference
		interface="com.muyou.sso.service.CollectService" id="collectService" />
	<dubbo:reference
		interface="com.muyou.sso.service.TokenService" id="tokenService" />
	<dubbo:reference
		interface="com.muyou.sso.service.UserService" id="userService" />
	<dubbo:reference
		interface="com.muyou.sso.service.FriendshipService"	id="friendshipService" />
	<dubbo:reference
		interface="com.muyou.sso.service.MessageService" id="messageService" />
	<dubbo:reference
		interface="com.muyou.sso.service.NoticeService" id="noticeService" />
	<dubbo:reference
		interface="com.muyou.sso.service.ConsultService" id="consultService" />
	<dubbo:reference
		interface="com.muyou.sso.service.AdminService" id="adminService" />

</beans>